

body{


    background-color: lightblue;



}

h1 {

    font-size: 50px;
    margin-left: 20px;
    font-family: Vrinda;
    color: navy;
    background-color: lightsteelblue;
}

h2 {

    font-size: 70px;
    font-family: "Agency FB";
    color: navy;
}